@model PagedList.IPagedList<GestionCitasMedicas.Models.ESPECIALIDAD>
@using PagedList.Mvc;
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div style="display:flex;justify-content:center;margin:20px 0;">
    <h2>Especialidades</h2>
</div>
<div class="container">
    <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Especialidades/Add")'" value="Nuevo" />
</div>

<table class="table  container my-5 ">

    <tr class="table-danger">
        <th>Id</th>
        <th>Especialidad</th>
        <th>Imagen</th>
        <th>Eliminar</th>
        <th>Editar</th>
        <th>Detalles</th>
    </tr>
    @foreach (var oElemento in Model)
    {
        <tr  style="color:blue">
            <td>@oElemento.id_especialidad</td>
            <td>@oElemento.nombre</td>
            <td><img src="~/Image/@oElemento.image" width="100" height="50" /></td>

            <td>
                <input type="button" class="btn btn-danger" onclick="document.location.href='@Url.Content("~/Especialidades/Delete/"+oElemento.id_especialidad)'" value="Eliminar" />
            </td>
            <td>
                <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Especialidades/Edit/"+oElemento.id_especialidad)'" value="Editar" />
            </td>
            <td>
                <input type="button" class="btn btn-warning" onclick="document.location.href='@Url.Content("~/Especialidades/Detalles/"+oElemento.id_especialidad)'" value="Detalles" />
            </td>
        </tr>


    }

</table>
<div style="display:flex;justify-content:center">

    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    Total de @Model.TotalItemCount registros
</div>
    <div style="display:flex;justify-content:center">
        
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = ViewBag.PageSize }))
    </div>
